html, body, #root, .layout-wrap {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 0 0 0;
}

.footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loader {
  display: flex;
  justify-content: center;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-actions > a {
  margin-right: 5px;
}

.table {
  margin-top: 20px;
}

.table > tbody > tr > td {
  word-break: break-all;
}

.data-provider-control {
  width: calc(69px + 1.5rem);
  vertical-align: center;
}

.data-provider-control > a, .data-provider-control > span {
  margin-right: 5px;
}

.model-control-icon {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.model-delete-icon {
  cursor: pointer;
  color: #dc3545;
}

.model-delete-icon:hover {
  color: #c82333;
}

.page-circles {
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 4px;
}

.page-circles > svg {
  margin: 0 1px;
  color: #dee2e6;
}

.page-link {
  transition: all 0.2s ease-in-out;
}

.page-link.active {
  color: #28a745;
  font-weight: 700;
}

.main-container {
  margin: 20px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-block tbody > tr > td {
  word-break: break-all;
}

form div.required label.control-label:after {
  content:" * ";
  color:red;
}

label.required:after {
  content:" *";
  color: red;
}

/*NEW STYLES*/



@media only screen and (max-width: 930px) {
  .table {
    display: flex;
    flex-direction: column;
  }
  .table > thead {
    display: flex;
    flex-direction: column;
  }
  .table > thead > tr {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .table > thead > tr > th {
    width: 100%;
  }
  .action-column {
    display: none;
  }
  .table > tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .table > tbody > tr {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .table > tbody > tr > td {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
