html, body, #root, .layout-wrap {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  background-color: #f9f9f9;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 0 0 0;
}

.footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PhoneInputInput {

  border: 1px solid #ced4da;
  border-radius: .25rem;

  padding: 9px;
  color: #495057;
}

.loader {
  display: flex;
  justify-content: center;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-actions > a {
  margin-right: 5px;
}

.table {
  margin-top: 20px;
}

.table > tbody > tr > td {
  word-break: break-all;
}

.data-provider-control {
  width: calc(69px + 1.5rem);
  vertical-align: center;
}

.data-provider-control > a, .data-provider-control > span {
  margin-right: 5px;
}

.model-control-icon {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.model-delete-icon {
  cursor: pointer;
  color: #dc3545;
}

.model-delete-icon:hover {
  color: #c82333;
}

.page-circles {
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 4px;
}

.page-circles > svg {
  margin: 0 1px;
  color: #dee2e6;
}

/*.page-link {*/
/*  transition: all 0.2s ease-in-out;*/
/*}*/

/*.page-link.active {*/
/*  color: #28a745;*/
/*  font-weight: 700;*/
/*}*/

.main-container {
  margin: 20px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-block tbody > tr > td {
  word-break: break-all;
}

form div.required label.control-label:after {
  content:" * ";
  color:red;
}

label.required:after {
  content:" *";
  color: red;
}

.white-block {
  height: auto;
  min-height: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(150, 150, 150, 1);
  -moz-box-shadow: 0px 0px 15px -10px rgba(150, 150, 150, 1);
  box-shadow: 0px 0px 15px -10px rgba(150, 150, 150, 1);
}

.breadcrumb {
  background-color: inherit !important;
  margin: 0 !important;
}

/*index*/
.index-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #007bff;
  min-height: 300px;
}

.index-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(60px, 1fr) );
  padding: 10px 8px;
  justify-content: center;
  align-items: center;
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: break-word;
  width: 100%;
}

.grid-container > div > h5 {
  margin-bottom: 0;
}

.grid-container-header {
  background-color: #f9fafc;
  font-size: 1.05rem;
  font-weight: 700;
  margin: 0 !important;
}

.grid-container-line {
  border-bottom: 1px solid #f4f4f4;
}

.grid-item {
  height: 50%;
  padding: 0 2px;
  margin: 5px 0;
  width: auto;
}

.action-buttons > a, .action-buttons > span {
  margin-right: 5px;
}

.tooltip-title {
  display: none;
  word-break: normal;
  font-weight: 500;
}

/*pagination*/
.pagination {
  margin-top: 1rem;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.page-item {
  margin: 0 2px;
}

.page-link {
  color: #2f3640 !important;
  border: none !important;
  background-color: transparent !important;
  border-radius: 4px !important;
  min-width: 2.25rem;
  width: auto;
  height: 2.25rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.page-link.active {
  background-color: #007bff !important;
  border-color: #007bff;
  color: #fff !important;
  font-weight: 700;
}

.page-link:hover {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: #fff !important;
}

.page-link:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/*modals*/
.modal-confirmation > .modal-dialog {
  color: #636363;
  max-width: 400px !important;
  margin: 30px auto;
}

.modal-confirmation > .modal-dialog > .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.modal-confirmation > .modal-dialog > .modal-content > .modal-header {
  border-bottom: none;
  position: relative;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-confirmation > .modal-dialog > .modal-content > .modal-header > h5 {
  word-break: break-word;
}

.modal-body {
  word-break: break-word;
}

.modal-confirmation > .modal-dialog > .modal-content > .modal-header > .modal-header-icon {
  margin-bottom: 20px;
  font-size: 80px;
  color: #f15e5e;
}

.modal-confirmation > .modal-dialog > .modal-content > .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}

.modal-confirmation > .modal-dialog > .modal-content > .modal-footer > button {
  border: none;
  min-height: 40px;
  min-width: 120px;
}

.modal-footer {
  justify-content: space-evenly !important;
}

.modal-dialog {
  max-width: 635px !important;
}

/*placeholder*/
.placeholder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.placeholder-container > div {
  padding: 5px;
  text-align: center;
}

@media only screen and (max-width: 930px) {
  .table {
    display: flex;
    flex-direction: column;
  }
  .table > thead {
    display: flex;
    flex-direction: column;
  }
  .table > thead > tr {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .table > thead > tr > th {
    width: 100%;
  }
  .action-column {
    display: none;
  }
  .table > tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .table > tbody > tr {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .table > tbody > tr > td {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .small-flex {
    display: flex;
    justify-content: space-around;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-container > div {
    padding-bottom: 8px;
    align-items: flex-start;
    text-align: inherit;
  }

  .grid-item {
    justify-content: space-between !important;
    border: none;
  }

  .grid-item > div:last-child {
    /*padding-left: 25px;*/
    text-align: right;
    word-break: break-word;
  }

  .action-buttons {
    justify-content: space-evenly !important;
  }

  .grid-container-header {
    display: none;
  }

  .tooltip-title {
    display: block;
  }
}
